.setup-for-eventstore
  .home
    padding: 0
    margin: 0

.custom-block
  &.note
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0
    background-color #f3f5f7
    border-color #e0e0e0
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem

.libraries
  p
    margin-top 0.4rem
    margin-bottom 0
